<form action="" method="post" class="md-form">
    {{ form.csrf_token() }}
    <fieldset>
        {{ form.make.label }}
        {{ form.make(value=car['make'] if car else '') }}
    </fieldset>
    <fieldset>
        {{ form.bodyType.label }}
        {{ form.bodyType(value=car['bodyType'] if car else '') }}
    </fieldset>
    <fieldset>
        {{ form.colour.label }}
        {{ form.colour(value=car['colour'] if car else '') }}
    </fieldset>
    <fieldset>
        {{ form.seats.label }}
        {{ form.seats(value=car['seats'] if car else '') }}
    </fieldset>
    <fieldset>
        <label>Location</label>
        {{ form.xCoordinate(value=car['location']['x'] if car else '') }}
        {{ form.yCoordinate(value=car['location']['y'] if car else '') }}
    </fieldset>
    <fieldset>
        {{ form.costPerHour.label }}
        {{ form.costPerHour(value=car['costPerHour'] if car else 0.00, step=0.01) }}
    </fieldset>
    {{ form.submit(value='Update Car' if car else 'Create Car') }}
</form>